<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid container">
      <a class="me-lg-5" href="/">
        <img alt="Paustian" class="responsive"
             src="${ require('src/assets/images/logo.png') }"
             width="200">
      </a>
      <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler"
              data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown me-lg-3">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               id="navbarDropdownMenuCategories" role="button">
              Kategori
            </a>
            <ul aria-labelledby="navbarDropdownMenuCategories" class="dropdown-menu">
            </ul>
          </li>
          <li class="nav-item dropdown me-lg-3">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               id="navbarDropdownMenuProductEcoLabels" role="button">
              Miljømærke
            </a>
            <ul aria-labelledby="navbarDropdownMenuProductEcoLabels" class="dropdown-menu">
            </ul>
          </li>
          <li class="nav-item dropdown me-lg-3">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               id="navbarDropdownMenuProductDesigners" role="button">
              Designer
            </a>
            <ul aria-labelledby="navbarDropdownMenuProductDesigners" class="dropdown-menu"></ul>
          </li>
        </ul>


        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               id="navbarDropdownMenuLink4" role="button">
              <i aria-hidden="true" class="fa fa-lg fa-user"></i>
            </a>
            <ul aria-labelledby="navbarDropdownMenuLink4" class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Min profil</a></li>
              <li><a class="dropdown-item" href="/mine-produkter.html?supplierId=1">Mine produkter</a></li>
              <li><a class="dropdown-item" href="#">Log af</a></li>
            </ul>
          </li>
        </ul>


      </div>

    </div>


  </nav>
</header>
