<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">
      <img src="https://paustian2gether.dk/____impro/1/onewebmedia/Paustian2gether%20navn.jpg?etag=%22ab48-60c89485%22&sourceContentType=image%2Fjpeg&ignoreAspectRatio&resize=490%2B58&quality=85" alt="Paustian" class="responsive" width="245" height="29">
      <a class="navbar-brand bg-light" href="#">Produkter</a>
      <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a aria-current="page" class="nav-link bg-light" href="#">Produkt information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="d-flex">
          <input aria-label="Search" class="form-control me-2" placeholder="Search" type="search">
          <button class="btn btn-outline" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
